**/CSharp/**/.vs/
**/CSharp/**/bin/
**/CSharp/**/obj/
**/CSharp/**/*.csproj
**/CSharp/**/*.sln
Sort/Java/old/

.DS_Store
**/.DS_Store
*.class

**/C/*
!**/C/*.c
!**/C/*.h

**/Cpp/*
!**/Cpp/*.cpp
!**/Cpp/*.hpp

**/Fortran/*
!**/Cpp/*.f
!**/Cpp/*.f90