**/CSharp/**/.vs/
**/CSharp/**/bin/
**/CSharp/**/obj/
**/CSharp/**/*.csproj
**/CSharp/**/*.sln

.DS_Store
**/.DS_Store
HelloWorld/**/.DS_Store
FizzBuzz/**/.DS_Store
Fibonacci/**/.DS_Store
Newton/**/.DS_Store
Prime/**/.DS_Store
Qsort/**/.DS_Store